a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

h1,
h2,
h3,
ul,
p {
    margin: 0;
    padding: 0;
}

/* ===Body=== */
body {
    font-family: 'Roboto', sans-serif;
    color: var(--color-dark);
}

/* ===Section=== */
.section {
    padding-top: 94px;
    padding-bottom: 94px;

}

/* ===Container=== */
.container {
    padding: 0 15px;
    margin: 0 auto;
    
    
    @media screen and (min-width:480px) {
    margin-left: auto;
    margin-right: auto;
    width: 480px;
    }
    
    @media screen and (min-width:768px) {
    width: 760px;
    }
    
    @media screen and (min-width:1200px) {
    width: 1200px;
    }
}

/* ===Container-Flex */
// .container__flex {
//     display: flex;
//     align-items: center;

// }
